.App, .taskContainer {
  width: 450px;
  text-align: center;
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}
.Header {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}
.Form {
  width: 100%;
  margin-bottom: 1rem;
  overflow-x: auto;
  white-space: nowrap;
}
.Input, .SearchInput, .InputTask {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 300px;
  color: #fff;
}
.Input::placeholder {
  color: #ffffff4d;
}
.SearchInput {
  margin-left: 0.5rem;
}
.InputTask {
  width: 100%;
  height: auto;
  font-size: 1rem;
  grid-auto-flow:column;
}

.AddBtn, .FilterBtn, .FilterBtnActived, .btns {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}
.FilterBtn, .FilterBtnActived {
  margin-bottom: 0.8rem;
}
.FilterBtnActived {
  background: #9938da;
  color: #fff; 
}
.List {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.Link {
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btns {
  margin: 0.9rem;
  width: 85px;
} 

.taskContainer {
  color:rgb(127, 129, 240);
  font-size: 1.5rem;
}
